#!/system/etc/Sky/skybox sh
# PROJECT SKYNET (C) 2016 K1ks
# Copyright CYBERDYNE (C) 2016 K1ks MoD Abhiram Shibu
###########################################################################################################################
## ______   _____          _________  ____   ______                                 _____    ______
##/      \ |     | |     |     |      |   \ /      \ |\        /|    |\        /|  |     |  |      \
##|      | |     | |     |     |      |   / |      | | \      / |    | \      / |  |     |  |       \
##|------| |-----  |-----|     |      |__/  |------| |  \    /  |    |  \    /  |  |     |  |       |
##|      | |     | |     |     |      |  \  |      | |   \  /   |    |   \  /   |  |     |  |       /
##|      | |_____| |     | ____|____  |   \ |      | |    \/    |    |    \/    |  |_____|  |______/
##
##########################################################################################################################
#=======================================================================#
#  This program is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
#  GNU General Public License for more details.
#  You should have received a copy of the GNU General Public License along with this program.  If not, see <http://www.gnu.org/licenses/>.
#=======================================================================#

export PATH=/system/etc/Sky:$PATH:/sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin:

skybox=/system/etc/Sky/skybox

$skybox mount -o remount,rw / 2>/dev/null
$skybox mount -o remount,rw / / 2>/dev/null
$skybox mount -o remount,rw rootfs 2>/dev/null
$skybox mount -o remount,rw /system 2>/dev/null
$skybox mount -o remount,rw /system /system 2>/dev/null

mount -o remount,rw / 2>/dev/null
mount -o remount,rw / / 2>/dev/null
mount -o remount,rw rootfs 2>/dev/null
mount -o remount,rw /system 2>/dev/null
mount -o remount,rw /system /system 2>/dev/null

# Remount all relatime partitions =========================================#

for i in $($skybox mount | $skybox grep relatime | $skybox cut -d " " -f3);
do
$skybox mount -o noatime,remount $i
done;

# Remount all ext4 partitions =========================================#

for x in $($skybox mount | $skybox grep ext4 | $skybox cut -d " " -f3);
do
$skybox mount -o noatime,remount,rw,discard,barrier=0,commit=60,noauto_da_alloc,delalloc $x
done;

if [ -e /system/etc/Sky/Remount.log ]; then
$skybox rm -f /system/etc/Sky/Remount.log
fi;
$skybox mount >> /system/etc/Sky/Remount.log
